@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tutaj mój kontakt jest
</address>

<address>
    <strong>Ja:</strong>   <a href="">Mój mail</a><br />
    <strong>Bacper Kłażejewski:</strong> <a href="">A tu jest mail Kapcia</a>
</address>