@{
    ViewBag.Title = "Grocery Delivery";
}
<style>
    h1 {
        text-align: center;
        font-weight: bold;
    }
    p {
        text-align: center;
        font-size: large;
    }
</style>
<h1>Grocery Delivery</h1>

<hr />

<p>Grocery Delivery umożliwia dostarczanie produktów spożywczych ze sklepów
    w twojej okolicy prosto do towjego domu. Nasi kierowcy z chęcią zrobią 
    zakupy za ciebie, więc nie musisz nawet wychodzić z domu!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a enim metus. Duis odio orci, commodo in ligula at, molestie pretium libero. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla vulputate leo vitae lectus bibendum, a efficitur dui mollis. Phasellus sit amet ultricies neque. Aenean ut ex commodo, lacinia nulla in, vulputate enim. Donec at risus in nunc sodales consequat. Pellentesque mollis quis felis pharetra imperdiet. Praesent in vestibulum neque. Sed eros dolor, fringilla quis blandit et, egestas non purus. Maecenas a iaculis quam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas dignissim sapien quis laoreet fermentum. Cras vehicula augue id orci suscipit posuere. Nullam porttitor dignissim mi in vulputate. Aenean id augue tempus, facilisis sem vel, molestie velit.</p>


<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
-->